{% extends 'base.twig' %}

{% block content %}
    <style>
        #map table {
            table-layout: fixed;
            background-image: url(/static/img/planet.png);
            width: 100%;
            background-size: cover;
        }

        #grad3 {
            height: 20px;
            width: 150px;
            display: inline-block;
            vertical-align: middle;
            background: red;
            background: -webkit-linear-gradient(right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
            background: -o-linear-gradient(right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
            background: -moz-linear-gradient(right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
            background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
        }
    </style>
    <div>

        {{ min_energy }}<span id="grad3"></span>{{ max_energy }}
    </div>
    <div id="map">

    </div>

    <script>
        var table_map = "<table>";
        var map = {{ map|json_encode()|raw }};
        var max_energy = {{ max_energy }};
        var min_energy = {{ min_energy }};

        for (var x in map) {
            if (map.hasOwnProperty(x)) {
                table_map += '<tr>';
                for (var y in map[x]) {
                    if (map[x].hasOwnProperty(x)) {
                        table_map += '<th style="background: rgba(255, 0,0, ' + map[x][y] / (max_energy / 100) + ');border: 1px solid white;">&#160;</th>';
                    }
                }
                table_map += '</tr>';
            }
        }
        table_map += '</table>';
        var $map = document.getElementById('map');
        $map.innerHTML = table_map;
    </script>

{% endblock %}
